*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-red: #F16A56;
    --clr-yellow: #EFB74A;
    --clr-brown: #41220E;
    --clr-light: #eeeeee;
    --clr-dark: #2C2C2C;
    
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --grid: 1fr
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--clr-brown);
    line-height: 28px;
}

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: var(--clr-light);
    padding: .4em;
}

footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: .4em;
}

/*radio buttons*/
input[type="radio"]{
    display: none;
}

label {
    margin: auto;
    position: relative;
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    border: 2px solid var(--clr-red);
    border-radius: 1em;
    align-items: center;
    justify-items: center;
}

input[type="radio"]:checked + label{
    background-color: var(--clr-red);
    color: var(--clr-light);
}

/*nav bar*/
.nav_logo {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-black);
}

.footer_logo > p {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-black);
    color: var(--clr-light);
}

.nav_item {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    letter-spacing: 1px;
}

/*homepage.html*/
.main_top {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main_bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--clr-yellow);
    padding: .4em;
}

.home_gallery_panel {
    display: grid;
    grid-template-columns: 50% 50%;
}

/*browse.html*/
.browse_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;

    background-color: var(--clr-light);
    border-width: 1px solid var(--clr-dark);

    align-items: center;
    justify-items: center;
}

.browse_panel > h6{
    margin: auto;
}

.browse_panel_image {
    align-items: center;
    justify-items: center;
}

/*product_original.html*/
.product_detail_panel{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    margin: auto;
    padding: 1em;
    gap: 1em;
}

.bundle_size_button_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
    gap: 1em;
    background-color: var(--clr-light);
}

.glaze_button_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
    gap: 1em;
    background-color: var(--clr-light);
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    gap: 1em;
}

.quantity_module {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em;
    gap: 1em;
}