*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-red: #F16A56;
    --clr-yellow: #EFB74A;
    --clr-brown: #41220E;
    --clr-light: #FFFDFA;
    --clr-dark: #2C2C2C;
    
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 550;
    --fw-bold: 700;
    --fw-black: 900;

    --grid: 1fr
}

hr {
    color: var(--clr-dark)
}

a { color: inherit; } 

ul {
    list-style: none;
    padding-left: 0;
}​

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--clr-brown);
    line-height: 28px;
}

header {
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    background-color: var(--clr-light);
    font-weight: var(--fw-medium);
    border-bottom: 1px solid #2C2C2C;
    padding: .5em;
}

.nav_button_about {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    align-items: center;
    justify-items: center;
}

.nav_button_shop {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-red);
    color: var(--clr-light);
    border-radius: 1em;
    align-items: center;
    justify-items: center;
}

.nav_button_bag {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-yellow);
    color: var(--clr-light);
    border-radius: 1em;
    align-items: center;
    justify-items: center;
}

footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 2em;
}

/*radio buttons*/
input[type="radio"]{
    display: none;
}

label {
    margin: auto;
    position: relative;
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    border: 2px solid var(--clr-red);
    border-radius: 1em;
    align-items: center;
    justify-items: center;
}

input[type="radio"]:checked + label{
    background-color: var(--clr-red);
    color: var(--clr-light);
}

/*nav bar*/
.nav_logo {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-black);
}

.footer_logo > p {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-black);
    color: var(--clr-light);
}

.nav_item {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    letter-spacing: 1px;
}

/*homepage.html*/
.home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home_shop_all_button {
    margin: auto;
    background-color: var(--clr-red);
    color: var(--clr-light);
    padding: 14px 25px;
    font-weight: var(--fw-medium);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main_bottom_title {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--fw-regular);
    font-style: italic;
    color: var(--clr-brown);
    margin-top: 1em;
    margin-bottom: .25em;
}

.main_bottom_button {
    background-color: var(--clr-yellow);
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    padding: .25em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main_top {
    display: grid;
    grid-template-columns: 60% 40%;

    color: var(--clr-brown);
}

.main_top_right > h6 {
    margin-top: 12em;
    margin-bottom: 1em;
    font-size: 10pt;
}

.main_top_right > h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--fw-bold);
    font-size: 32pt;
}

.main_top_right > p {
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: var(--fw-thin);
    font-size: 12pt;
}

.main_top_right > a {
    margin-top: 5em;
    margin-bottom: 0;
    padding-left: 3em;
    padding-right: 3em;
}

.main_bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--clr-yellow);
    text-align: center;
    width: 100%;
    padding: .4em;
}

.gallery_panel {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1em;
    gap: .25em;
}

/*browse.html*/
.browse_gallery_header {
    position: absolute;
}

.browse_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 5em;
    padding-bottom : 5em;
    gap: 5em;

    background-color: var(--clr-light);
    border-width: 1px solid var(--clr-dark);

    align-items: top;
    justify-content: center;
}

.image_button {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    display: block;
}

.browse_panel > img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.browse_panel > h5{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

.browse_panel > h6{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

.add_bag_button {
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    border: 2px solid var(--clr-red);
    border-radius: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    align-items: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    display: block;
}

/*product_original.html*/
.product_detail_top_color {
    position: absolute;
    top: 54px;
    background-color: var(--clr-yellow);

    width: 100%;
    height: 500px;
    max-height: 500px;
    z-index: 1;
}

.product_detail_top_spacer {
    height: 120px;
    max-height: 120px
}

.product_detail_top {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    
}

.product_detail_top > img {
    justify-items: right;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    display: block;
    z-index: 2;
}

.product_detail_panel{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    margin: auto;
    padding: 1em;
    gap: 1em;

    justify-content: center;

    background-color: var(--clr-light);
    width: 700px;
    max-width: 700px;
    z-index: 2;

    box-shadow: 2px 2px 5px;
}

.product_detail_panel > h1 {
    margin-bottom: 0;
}

.product_detail_panel_stars {
    margin-top: 0;
}

.product_detail_panel_options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    gap: 1em;

    margin-bottom: 0;
}


.bundle_size_module > h6 {
    align-self: end;

    font-weight: var(--fw-light);

    display: block;
    margin-bottom: 0;
    height: 15px;
    max-height: 15px;
}

.glaze_module > h6 {
    align-content: end;

    font-weight: var(--fw-light);

    display: block;
    margin-bottom: 0;
    height: 15px;
    max-height: 15px;
}

.quantity_module {
    display: grid;
    grid-template-rows: 1fr 1fr;

    height: 120px;
    max-height: 120px;
}

.quantity_module_spacer {
    height: 100px;
    max-height: 100px
}

.quantity_module_step {
    display: flex;
    flex-direction: row;
}

.quantity_module_step > img {
    width: 25px;
    height: 25px;

    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.quantity_module_step > h6 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;

    align-items: center;
    text-align: center;
    
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.bundle_size_button_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: .5em;
    gap: .5em;
    background-color: var(--clr-light);
    font-size: 14px;

    margin-top: 0;
    align-items: end;
    height: 50px;
    max-height: 50px;
}

.glaze_button_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding:  .5em;
    gap: .5em;
    background-color: var(--clr-light);
    font-size: 14px;

    margin-top: 0;
    align-items: end;
    height: 50px;
    max-height: 50px;
}

.quantity_module {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em;
    gap: 1em;
}

.product_detail_panel > h6 {
    margin-top: 0;
    margin-bottom: 1em;
}

.product_detail_add_bag_button {
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--fw-medium);
    border: 2px solid var(--clr-red);
    border-radius: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    margin-right: 5em;
    align-items: center;
    justify-items: end;
    justify-self: end;
    justify-content: end;
    text-align: center;
    display: block;
}

.allergen {
    margin-top: 3em;
    display: block;
    justify-content: center;
}

.review_section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}